
<h1>{{title}}</h1>
<h2>Selector de colores</h2>
<button (click)="logColorSelected()">Mostrar Log</button>
<input type="text" [(ngModel)]="colorSelected"/>
<pre 
[style.border]="colorSelected == 'red' ? '5px solid #000' : '1px solid #ff5722'" 
[class.fondoBlue]="colorSelected == 'blue'">
  <strong>Color Elegido: </strong>
    {{colorSelected}}
</pre>
<div [ngStyle]="{
  'background':colorSelected,
  'width':'200px',
  'height':'200px',
  'float':'right',
  'margin-right':'73%'
}"></div>
<div style="clear: both;"></div>
<hr>
<h2>Colores Switch</h2>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{
    'background':color,
    'color':'white',
    'padding':'20px'
  }">
    Es de color
    <strong>Rojo</strong>
  </li>
  <li *ngSwitchCase="'green'" [ngStyle]="{
    'background': color,
    'color': 'white',
    'padding':'20px'
  }">
    Es de Color
    <strong>Verde</strong>
  </li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{
    'background': color,
    'color': 'white',
    'padding':'20px'
  }">
    Es de Color
    <strong>Azul</strong>
  </li>
</ul>
<hr>
<h2>Directivas Estructurales</h2>
<button (click)="changeWorker(externalWorker=!externalWorker)">{{externalWorker ? 'Mostrar Lista de Trabajadores' : 'Mostrar Empleado'}}</button>
<div *ngIf="externalWorker == true">
  <h3>Empleado</h3>
  <ul>
    <li>
      <strong>Name: </strong>{{employee.name}}</li>
    <li>
      <strong>Age: </strong>{{employee.age}}</li>
    <li>
      <strong>Position: </strong>{{employee.position}}</li>
    <li>
      <strong>Contract: </strong>{{employee.hired ? 'Contratado' : 'No esta Contratado'}}</li>
  </ul>
</div>
<div *ngIf="externalWorker == false">
  <h3>Lista de Trabajadores</h3>
  <ul *ngFor="let worker of workers; index as i">
    <strong>Empleado {{i+1}}:</strong>
    <li>
      <strong>Name: </strong>{{worker.name}}</li>
    <li>
      <strong>Age: </strong>{{worker.age}}</li>
    <li>
      <strong>Position: </strong>{{worker.position}}</li>
    <li>
      <strong>Contract: </strong>{{worker.hired ? 'Contratado' : 'No esta contratado'}}</li>
  </ul>
</div>

