<h2>{{title}}</h2>
<button (click)="changeWorker(externalWorker=!externalWorker)">{{externalWorker ? 'Mostrar Trabajador' : 'Mostrar Empleado'}}</button>
<div *ngIf="externalWorker == true">
  <h3>Empleado</h3>
  <ul>
    <li>
      <strong>Name: </strong>{{employee.name}}</li>
    <li>
      <strong>Age: </strong>{{employee.age}}</li>
    <li>
      <strong>Position: </strong>{{employee.position}}</li>
    <li>
      <strong>Contract: </strong>{{employee.hired ? 'Contratado' : 'No esta Contratado'}}</li>
  </ul>
</div>
<div *ngIf="externalWorker == false">
  <h3>Trabajadores</h3>
  <ul>
    <li>
      <strong>Name: </strong>{{workers[0].name}}</li>
    <li>
      <strong>Age: </strong>{{workers[0].age}}</li>
    <li>
      <strong>Position: </strong>{{workers[0].position}}</li>
    <li>
      <strong>Contract: </strong>{{workers[0].hired ? 'Contratado' : 'No esta contratado'}}</li>
  </ul>
</div>
