<h2>{{title}}</h2>
<h3>Empleado</h3>
<ul>
  <li><strong>Name: </strong>{{employee.name}}</li>
  <li><strong>Age: </strong>{{employee.age}}</li>
  <li><strong>Position: </strong>{{employee.position}}</li>
  <li><strong>Contract: </strong>{{employee.hired}}</li>
</ul>
<h3>Trabajadores</h3>
<ul>
  <li><strong>Name: </strong>{{workers[0].name}}</li>
  <li><strong>Age: </strong>{{workers[0].age}}</li>
  <li><strong>Position: </strong>{{workers[0].position}}</li>
  <li><strong>contract: </strong>{{workers[0].hired}}</li>
</ul>
